<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<H1>My Jupyter Notebook on IBM Watson Studio<H1>

<b>Arnav Sharma </b><br>Data Scientist

<em>I am interested in data science because i want to become a data scientist under the industry of Consumer Behaviour ,I want to be able help businesses to identify consumer needs</em>

<h3>The Following Code will multiply 5 and 6</h3>

In [4]:
5*6

30

<html>
    <header>
    </header>
    <body>
        <section>
            <h1> What i spent my money on today</h1>
            <ol>
                <li>Pencil</li>
                <li>Notebook</li>
                <li>Cold Drink</li>
                <li>Bus Ride</li>
                <li>Food</li>
            </ol>
            <hr>
            <table>
                <tr>
                    <td><b>Description</b></td>
                    <td><b>Money Spent</b></td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Bus Fare</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Pencil</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Notebook</td>
                    <td>50</td>
                </tr>
            </table>
            <br>
            <hr>
        </section>
        <footer>
            <a href=\"https://www.hotstar.com/in\">https://www.hotstar.com/in</a>